.newsItem {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #dfdfdf;
}

.newsItem:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.thumbnail {
  width: 13rem;
  aspect-ratio: 14/9;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  flex: 1;
}

.info .title {
  font-size: 1.6rem;
  font-weight: bold;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}

.info .title:hover {
  text-decoration: underline;
}

.info .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.info .bottom .comment {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.bottom .comment .icon {
  width: 1.7rem;
  height: 1.7rem;
  background-image: url("/images/icons/icon-comment.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.bottom .comment span {
  font-size: 1.2rem;
  font-weight: bold;
  user-select: none;
  color: gray;
}

.bottom .date {
  font-size: 1.2rem;
  color: gray;
}