.title {
  font-size: 2.5rem;
  margin-bottom: 1.6rem;
  /* border-bottom: 1px solid #dbdbdb; */
}

.image {
  display: block;
  width: 80%;
  aspect-ratio: 14/9;
  margin: 0 auto;
  background-color: gray;
}