.nav {
  border-bottom: 1px solid #dfdfdf;
}

.nav > ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: var(--content-max-width);
  height: 4.4rem;
  margin: 0 auto;
  padding: 0 1rem;
  list-style: none;
}

.nav > ul a {
  font-size: 1.6rem;
}